{% extends "base.html.twig" %}

{% block title %}
    Services
{% endblock %}

{% block body %}
    <div>
        {% if showNewButton ?? true %}
            <a href="{{ path('service:new') }}">New service</a>
        {% endif %}

        <table>
            {% for currentService in services %}
                <tr>
                    <td {% if service is defined and service is same as(currentService) %}class="text--strong"{% endif %}>
                        {{ currentService.name }}

                        {% if currentService.url %}
                            (<a href="{{ currentService.url }}">link</a>)
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('service:edit', {id: currentService.id}) }}">Edit</a>

                        <form action="{{ path('service:delete', {id: currentService.id}) }}" method="POST">
                            <input type="hidden" name="_token"
                                   value="{{ csrf_token('service:'~currentService.id~':delete') }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        {% block innerBody %}{% endblock %}
    </div>
{% endblock %}
